<a ng-class="getClass('/landing')" ui-sref="home">About<div id="home-div"></div></a>
<a ng-class="getClass('/main')" ui-sref="mainProducts">Shop<div id="shop-div"></div></a>
<a ng-class="getClass('/publish')" ui-sref="publish">Publish<div id="publish-div"></div></a>
<a ng-class="getClass('/profile')" ui-sref="profile">Profile<div id="profile-div"></div></a>
<a href="#" id="nav-cart"><span class="fa fa-shopping-cart"></span>{{cartNumber}}</a>
<img id="nav-profile-pic" class="round-pic" src="{{picture_url}}" alt="" />
