.admin-nav {
  width: 100%;
  height: 5vh;
  font-size: 1.15em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 30vw;
  a div {
    width: 100%;
    height: .25em;
    background-color: #3fd54f;
    visibility: hidden;
  }
  a {
    color: #666;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
    }
    &:active, &:focus {
      text-decoration: none;
    }
  }
  a:hover div, .active div {
    visibility: visible;
  }
}

.admin-home-main {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  align-items: center;
}
.admin-button-box {
  &:nth-child(1) {
    .admin-button:nth-child(1) {
      background-color: #51C2E8;
    }
    .admin-button:nth-child(2) {
      background-color: #e4cc4a;
    }
  }
  &:nth-child(2) {
    .admin-button:nth-child(1) {
      background-color: #FF5D5C;
    }
    .admin-button:nth-child(2) {
      background-color: #7CA4FF;
    }
  }
}

.admin-button {
  width: 25rem;
  height: 25rem;
  float: left;
  margin: 10px;
  text-align: center;
  padding: 30px;
  color: #eee;
  cursor: pointer;
  div {
    margin: 0 auto;
    position: relative;
  }
  i {
    font-size: 5em;
    color: #eee;
  }
  &:hover {
    opacity: .85;
    div {
      top: -6px;
    }
  }
}

.submission-info {
  text-align: center;
}
.submission-files {
  display: flex;
  justify-content: space-around;
  img {
    height: 750px;
    margin-right: 20px;
  }
  iframe {
  }
}
.accept-deny-box {
  margin: 20px auto;
  text-align: center;
  .accept-box {
    display: flex;
    flex-direction: column;
    width: 24%;
    padding: 1.5vw;
    margin: 0 auto;
  }
}
.review-main {
  padding: 20px;
  text-align: center;
  position: relative;
}
.review-header {
  div {
    width: 100%;
    height: .25em;
    background: #ccc;
    div {
      width: 30%;
      margin: 0 auto;
      background-color: #3fd54f;
    }
  }
}
.review-number {
  height: 4em;
  width: 4em;
  position: absolute;
  top: 7em;
  left: 3em;
  background-color: #FF5D5C;
  -webkit-clip-path: circle(50% at center);
  clip-path: circle(50% at center);
}
.submission-box {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
}
.submission-card {
  padding: 15px;
  h4 {
    width: 60%;
    float:left;
  }
  &:nth-child(2n+2) {
    background-color: #ccc;
  }
  .submission-card-right {
    float: right;
  }
}
