.nav-back {
  width: 100%;
  height: 10vh;
}

.main-jumbotron {
  background-image: url('http://localhost:4531/assetts/img/violin-jumbo.jpg');
  background-size: cover;
  padding-top: 55vh;
  padding-bottom: 3vh;
  padding-left: 10vh;
  text-align: left;
  h1 {
    font-size: 4.5rem;
    font-weight: bold;
    color: #1c1c1c;
  }
  button {
    background: none;
    padding: 15px 30px;
    box-shadow: none;
    border: 3px white solid;
    border-radius: 43px;
    margin-left: 4vw;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.5em;
    &:hover {
      background: rgba(255, 255, 255, 0.35);
    }
  }
  .scroll-warning {
    padding-top: 8vh;
    color: #3fd54f;
  }
}
.three-box-three {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75%;
  .three-arrow {
    font-size: 4em;
    color: #666;
    transition: opacity .5s, transform .75s;
  }
}

.scroll-warning {
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
}
.landing-three {
  display: flex;
  justify-content: center;
  padding: 12vh 0;
  .three-box {
    background-color: #efefef;
    box-shadow: 1px 1px 3px #cdcdcd;
    padding: 3vw;
    margin: 20px;
    transition: opacity .5s, transform .75s;
    h2 {
      text-align: center;
    }
    p {
      text-align: justify;
    }
  }
}

.angle-clip-section {
  height: 60vh;
  background: #eee;
  box-shadow: 0 0 15px 2px rgba(5,5,5,0.3);
  position: relative;
  img {
    float:left;
    height: 100%;
  }
  .angle-section-text {
    float: right;
    text-align: center;
    right: 10vw;
    top: 23.5vh;
    position: absolute;
    max-width: 50%;
    h1 {
      font-size: 3em;
    }
  }
}

@keyframes violin-bow {
  0% {left: -5vw}
  50% {left: 0vw}
  100% {left: -5vw}
}
.violin-section {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .violin-left {
    width: 30%;
    margin-right:10vw;
  }
  .violin-right {
    width: 30%;
    transform: translateX(50vw);
    height: 100%;
    img {
      height: 100%;
    }
  }
  .violin-animation {
    float:left;
    top: 5vh;
    position: relative;
    height: 30%;
    width: 20%;
    #violin {
      width: 100%;
      height: 100%;
    }
    #violin-bow {
      position: absolute;
      width: 208%;
      top: 10vh;
      left: -5vw;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
  .violin-text {
    margin-top: 3em;
    float:right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    h1 {
      font-size: 4em;
      margin-top: -1rem;
      margin-bottom: 3rem;
    }
    p {
      text-align: justify;
    }
  }
}

.music-note-parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
  box-shadow: 0 0 15px 2px rgba(5,5,5,0.3);
  background-color: #eee;
  margin-bottom: -10vh;
  h1 {
    font-size: 6em;
    margin-bottom: .5em;
  }
  .final-cta {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  .choice-box {
    padding: 5vh;
    width: 40%;
    border: 5px solid #555;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
    img {
      width: 80%;
      margin: 0 auto 0 auto;
    }
    button {
      background: none;
      padding: 2rem 5rem;
      border: 3px solid #3fd54f;
      border-radius: 40px;
      display: flex;
      font-size: 1.5em;
      margin: 2em auto 0 auto;
      &:hover {
        background: #60d46d;
      }
    }
  }
}
