.profile-self {
  display: flex;
  flex-direction: row;
}
.profile-avatar {
  height: 4em;
  width: 5em;
  display: inline-block;
  margin-right: 12px;
}
.profile-aside {
  h2 {
    display: inline-block;
  }
  h5 {
    margin-bottom: 2em;
  }
}
.profile-main {
  padding: 10px 30px;
  width: 73%;
  float: left;
}
.round-pic {
  -webkit-clip-path: circle(50% at center);
  clip-path: circle(50% at center);
}
#nav-profile-pic {
  height: 3em;
  margin-top: -1em;
}
.purchases-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.purchase-card-wrapper {
  max-height: 30vh;
  max-width: 16vw;
  margin: 1.5em;
  img {
    height: 100%;
    width: 100%;
  }
}
