.hidden {
  display: none;
}
#template-box input {
  visibility: hidden;
  position: absolute;
}
#template-box input:active {
  opacity: .9;
}
#template-box input:checked + label{
  -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

#template-box label {
  width: 200px;
  cursor: pointer;
  transition: all 80ms ease-in;
  display: inline-block;
  filter: brightness(1.8) grayscale(1) opacity(.7);
      -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
      -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
}
#template-box label img {
  width: 100%;
}
