.hidden {
  display: none;
}

#template-box input {
  visibility: hidden;
  position: absolute;
}
#template-box input:active {
  opacity: .9;
}
#template-box input:checked + label{
  -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

#template-box label {
  width: 200px;
  cursor: pointer;
  transition: all 80ms ease-in;
  display: inline-block;
  filter: brightness(1.8) grayscale(1) opacity(.7);
      -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
      -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
}
#template-box label img {
  width: 100%;
}

.pointer {
  cursor: pointer;
}
.main-white {
  width: 100%;
  height: 90vh;
  padding: 5vh;
}
.composer-form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
   label {
     display: block;
     padding-left: 15px;
     text-indent: -15px;
     font-weight: normal;
   }
   input[type=text] {
     padding: 4px 30px 2px 9px;
   }
   input[type=checkbox] {
     width: 13px;
     height: 13px;
     padding: 0;
     margin-right: 5px;
     vertical-align: middle;
     position: relative;
     top: -1px;
     *overflow: hidden;
   }
   select {
     padding: 4px 60px 2px 9px;
   }
   .checkbox-box {
     margin-top: 2vh;
     margin-bottom: 3vh;
   }
}

.upload-form {
  width: 65%;
  margin: 10px auto;
  input[type="text"] {
    display: block;
    margin-bottom: 5px;
    &:nth-child(1) {
      width: 51%;
    }
    &:nth-child(2) {
      width: 20%;
    }
  }
  input[type="file"] {
    padding: 10px;
    border-radius: 40px;
    border: none;
    width: 30%;
    height: 4em;
    border-radius: 40px;
    background-color: #c8d4dd;
    color: #777;
    font-family: 'Hind Guntur', sans-serif;
    text-transform: uppercase;
    box-shadow: 0 6px #777;
    border: none;
    margin: 5vh auto;
    &:hover {
      background-color: #d8e4ee;
    }
  }

}
