<section class="main-white">

<form class="info-form" ng-submit="createComposer()">
  <h2>Make sure to add composer first:</h2>

  <form class="composer-form" ng-submit="createComposer()">

      <div class="composer-name-box">
          <input type="text" ng-model="first_name" placeholder="First Name">
          <input type="text" ng-model="last_name" placeholder="Last Name">
      </div>

      <h3>Year of Birth:</h3>
      <input type="text" ng-model="year_born" placeholder="Birth Year">

      <h3>Country of Origin:</h3>
      <select class="country-select" ng-model="country_of_origin"
          ng-options="item for item in countries">
      </select>
      <input type="submit" name="submit">

  </form>

</form>

<form class="upload-form" id="admin-upload-form"
      action="http://noellereid.io/admin/upload" method="post"
      enctype="multipart/form-data">
  <h3>Information about Piece:</h3>
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="composer_id" placeholder="Composer ID">
  <input type="text" name="year_composed" placeholder="Year Composed">
  <input type="text" name="instrumentation" placeholder="Instrumentation">
  <input type="text" name="catalog" placeholder="Catalog">
  <input type="text" name="worknumber" placeholder="Work Number">
  <input type="text" name="style" placeholder="Style">
  <input type="text" name="collection" placeholder="Collection">


  <!-- Files -->
  <h3>Upload Files</h3>
  <div class="upload-section-box">
    <h4>Score URL/file</h4>
    <div class="input-label">
      <input type="text" name="score_url" placeholder="Score URL">
      <input type="file" id="score-file-upload" name="submissionScore" class="file-upload-proper">
      <i class="fa fa-upload"></i> Choose a file</div>
      <input id="scoreFile" class="file-holder" disabled="disabled" />
  </div>

  <div class="upload-section-box">
    <h4>Parts URL/File</h4>
    <div class="input-label">
      <input type="text" name="parts_url" placeholder="Parts URL">
      <input type="file" id="parts-file-upload" name="submissionParts" class="file-upload-proper">
      <i class="fa fa-upload"></i> Choose a file</div>
      <input id="partsFile" class="file-holder" disabled="disabled" />
  </div>


  <div class="upload-section-box">
  <h4>Cover URL/File</h4>
  <div class="input-label cover-upload">
    <input type="text" name="cover_url" placeholder="Cover URL">
    <input type="file" id="cover-file-upload" name="cover" class="file-upload-proper">
    <i class="fa fa-upload"></i> Choose a file</div>
    <input id="coverFile" class="file-holder cover-upload" disabled="disabled" />
  </div>
  <!-- package -->
  <h4>In which formats would you like this offered?</h4>
  <div class="package-radio-box">
    <input type="radio" name="package" value="pdf" ng-click="pdfOnly()"> PDF Only</input>
    <input type="radio" name="package" value="print" ng-click="printOnly()"> Print Only</input>
    <input type="radio" name="package" value="mixed" ng-click="mixedPackage()"> PDF and Print</input>
  </div>

  <div class="upload-section-box">
  <h4>Preview File</h4>
  <div class="input-label cover-upload">
    <input type="file" id="cover-file-upload" name="preview" class="file-upload-proper">
    <i class="fa fa-upload"></i> Choose a file</div>
    <input id="coverFile" class="file-holder cover-upload" disabled="disabled" />
  </div>

  <!-- price boxes -->
  <input id="price-pdf" class="hidden-left price-box" type="text" name="price_pdf" placeholder="Price for PDF">
  <input id="price-print" class="hidden-left price-box" type="text" name="price_print" placeholder="Price for Print">
  <input id="price-mixed" class="hidden-left price-box" type="text" name="price_mixed" placeholder="Price for Bundle">


  <!-- submit -->
  <div class="upload-submit-button">
    <input type="submit" name="submit">
  </div>

</form>

</section>
