<section class="admin-home-main">
  <div class="admin-button-box">
    <div class="admin-button admin-inventory-button"
        ui-sref="admin.inventory">
      <div>
        <h2>Inventory</h2>
        <i class="fa fa-list"></i>
      </div>
    </div>

    <div class="admin-button admin-review-button"
        ui-sref="admin.review">
      <div>
        <h2>Review Submissions</h2>
        <i class="fa fa-check-circle"></i>
      </div>
    </div>
  </div>


  <div class="admin-button-box">
    <div class="admin-button admin-users-button"
        ui-sref="admin.users">
      <div>
        <h2>Users</h2>
        <i class="fa fa-users"></i>
      </div>
    </div>

    <div class="admin-button admin-sales-button"
        ui-sref="admin.analysis">
      <div>
        <h2>Sales Analysis</h2>
        <i class="fa fa-line-chart"></i>
      </div>
    </div>
  </div>
</section>
