<div class="landing">


<section class="main-jumbotron">
    <h1>Where composers and musicians meet.</h1>
    <button type="button" name="login-button" ui-sref="mainProducts">Shop Now</button>
    <div class="scroll-warning">
      Learn <i class="fa fa-arrow-down"></i> More
    </div>
</section>


<section class="landing-three">
    <div class="three-box-three">

        <div class="three-box hidden-left">
            <h2>Composers</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="three-arrow  hidden-left">
            <i class="fa fa-arrow-right"></i>
        </div>
        <div class="three-box hidden-fade">
            <h2>Capriccio</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="three-arrow  hidden-right">
            <i class="fa fa-arrow-left"></i>
        </div>
        <div class="three-box hidden-right">
            <h2>Musicians</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>
</section>

<section class="angle-clip-section">
  <img class="clip-chevron-right" src="./assetts/img/stage-jumbo.jpeg" alt="music stand on stage" />
  <div class="angle-section-text">
    <h1>Turn your big ideas into big applause</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
</section>

<section class="violin-section">
  <div class="violin-left">
      <!-- <div class="violin-animation">
        <img id="violin" src="./assetts/img/violin-vector.png" alt="" />
        <img id="violin-bow" src="./assetts/img/violin-bow.png" alt="" />
      </div> -->
      <div class="violin-text">
        <h2>Your music, all in one place:</h2>
        <h1>Anywhere</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
  </div>
  <div class="violin-right">
    <img id="slide-in" class="clip-chevron-left" src="./assetts/img/cellists-jumbo.jpg" alt="" />
  </div>

</section>

<section class="music-note-parallax">
  <h1>The choice is simple</h1>
  <section class="final-cta">
    <div class="choice-box">
      <img src=".\assetts\img\Iconsmind-Outline-Piano.ico" alt="" />
      <button ui-sref="mainProducts">Shop Now</button>
    </div>

    <div class="choice-box">
      <img src=".\assetts\img\composer-icon.png" alt="" />
      <button ui-sref="publish">Publish Now</button>
    </div>
  </section>
</section>
</div>
