<a ui-sref="mainProducts">
  <h3 class="back">
    <span class="fa fa-chevron-left" aria-hidden="true"></span>
     Back
  </h3>
</a>

<section class="product-detail-wrapper">
  <div class="img-wrapper" back-img="{{product.scope_cover_url}}">
      <img ng-src="{{product.scope_preview_url}}" alt="" />
      <div class="preview-suggestion">
        <h4>Mouse Over to Preview</h4>
      </div>
  </div>
  <div class="product-info-wrapper">
    <h1>{{product.title}}</h1>
    <h2>{{product.composer_first}} {{product.composer_last}}</h2>
    <h3>{{product.price_mixed}}</h3>
    <h4>{{product.catalog}} {{product.worknumber}}</h4>
    <p>{{description}}</p>
    <!-- <recordings work="product.id"></recordings> -->
    <button type="button" ng-click="addToCart()">Add to Cart</button>

  </div>

  <!-- <iframe frameborder="0" ng-src="{{productUrl}}" width="600" height="300"></iframe> -->
</section>

<add-review></add-review>
<section class="review-box">
  <div id="review-card" ng-repeat="review in reviews">
    <review-stars disabled="true" value="review.rating"></review-stars>
    <h4>{{review.first_name}} says:</h4>
    <p>
      {{review.review}}
    </p>
  </div>
</section>
