<landing-nav></landing-nav>

<form class="composer-form" ng-submit="createComposer()">
  <h3>Name as you would like it to appear on published works:</h3>
  <input type="text" ng-model="first_name" placeholder="First Name">
  <input type="text" ng-model="last_name" placeholder="Last Name">
  <h3>Year of Birth:</h3>
  <input type="text" ng-model="year_born" placeholder="Birth Year">
  <h3>Country of Origin:</h3>
  <input type="text" ng-model="country_of_origin" placeholder="Country of Origin">
  <input type="submit" name="submit">
</form>
